@import '../../../styles/colors.scss';
@import '../../../styles/typography';

.services-card {
  width: 100%;
  height: 100%;

  background-color: darken($color: $shade-color, $amount: 30%);
  transition: all 0.3s ease-in-out;

  border-radius: 30px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  cursor: pointer;

  &__text {
    color: invert($color: $text-color);
    transition: all 0.3s ease-in-out;
    margin-bottom: 24px;
  }

  &:hover {
    background-color: darken($color: $shade-color, $amount: 60%);

    .services-card__text {
      color: $text-color;
    }

    .services-card__p {
      color: $text-color;
      &--icon {
        transform: translateX(4px) rotate(-90deg);
        transition: all 0.3s ease-in-out;
        color: $text-color;
      }
    }
  }

  &__p {
    @include font-primary(18px, 400);
    transition: all 0.3s ease-in-out;
    margin-bottom: 6px;

    width: 100%;
    padding: 0 12px;
    text-align: end;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--icon {
      margin-left: 8px;
      margin-top: 2px;
      margin-right: 10px;
      cursor: pointer;
      transform: rotate(-90deg);
    }
  }
}
