.layout-image-v1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 64px;

  &__image {
    width: 48%;
    height: 100%;
    border-radius: 52px;
    padding: 8px 0;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 1268px) {
      height: 90vh;
      margin-left: 18px;
    }

    @media screen and (max-width: 880px) {
      display: none;
    }
  }
}
